<div class="jumbotron">
  <h1 class="display-4">Welcome to the People App!</h1>
  <p class="lead">This is a simple app that allows users to see information about people!</p>
  <hr class="my-4">
  <p>Check it out!</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>
