<div class="jumbotron">
  <h1 class="display-4">Welcome to the People App!</h1>
  <p class="lead">This is a simple app that allows users to see information about people!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn" href="/about" role="button">Check It Out!</a>
  <a class="btn btn-primary btn" href="/about" role="button">Learn About The App</a>
</div>
