<link rel="stylesheet" type="text/css" href="theme.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1> People </h1>
<p> <%= link_to 'New Person', new_person_path %> </p>
<% @people.each do |person| %>
    <h1> person.title </h1>
    <%= link_to 'Show Person', person_path(person.id)%>
    <%= link_to 'Edit Person', edit_person_path(person.id)%>
    <%= link_to 'Delete Person', person_path(person.id), method: :delete%>
<% end %>